<head>
    <title>Tool Box Convênios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://i.ibb.co/2KddCq7/23113851-300x300.png" type="image/x-icon">
    <script src="https://cdn.betha.cloud/base/g4/front-end/2.13/js/base.js"></script>
    <script src="https://cdn.betha.cloud/base/g4/front-end/2.13/js/jquery.min.js"></script>
    <script src="https://cdn.betha.cloud/base/g4/front-end/2.13/js/globalize.js"></script>
    <script src="https://cdn.betha.cloud/base/g4/front-end/2.13/js/jquery-ui.min.js"></script>
    <script src="https://cdn.betha.cloud/base/g4/front-end/2.13/js/select2.js"></script>
    <script src="https://cdn.betha.cloud/base/g4/front-end/2.13/js/lodash.js"></script>
    <script src="https://cdn.betha.cloud/base/g4/front-end/2.13/js/accounting.js"></script>
    <script src="https://cdn.betha.cloud/base/g4/front-end/2.13/js/jquery-mask-plugin.js"></script>
    <script src="https://cdn.betha.cloud/base/g4/front-end/2.13/js/module.js"></script>
    <script src="https://cdn.betha.cloud/base/g4/front-end/2.13/js/browser.js"></script>
    <script src="https://cdn.betha.cloud/base/g4/front-end/2.13/js/utils.js"></script>
    <script src="https://cdn.betha.cloud/base/g4/front-end/2.13/js/messages.js"></script>
    <script src="https://cdn.betha.cloud/base/g4/front-end/2.13/js/tabs.js"></script>
    <script src="https://cdn.betha.cloud/base/g4/front-end/2.13/js/timepicker.js"></script>
    <script src="https://cdn.betha.cloud/base/g4/front-end/2.13/js/date.js"></script>
    <script src="https://cdn.betha.cloud/base/g4/front-end/2.13/js/calendar.js"></script>
    <script src="https://cdn.betha.cloud/base/g4/front-end/2.13/js/modal.js"></script>
    <script src="https://cdn.betha.cloud/base/g4/front-end/2.13/js/popover.js"></script>
    <script src="https://cdn.betha.cloud/base/g4/design/3.11.9/bth-design.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='css/main.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.betha.cloud/base/g4/design/3.11.9/bth-design.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>